/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

#login-link {
    color: #fff;
    color: #a2d5f2;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
}


/*** CHANGES TO STANDARD */
/* Header
-------------------------------------------------- */
header .header-top {
    height: 60px;
}

header .menu-content-right {
    top: 0;
    right: 0;
    margin-left: 54px;
}

header .menu-content-right input {
    min-width: 60px;
    margin: 0 !important;
    padding-left: 4px !important;
}

.search-divider {
    border-right: 2px solid #eee;
}

/* Menu
-------------------------------------------------- */
.menu-content-right .fa-search,
.menu-content-right #cart-link {
    color: #fff;
}

    .menu-content-right .fa-search:hover,
    .menu-content-right #cart-link:hover {
        cursor: pointer;
        color: #a2d5f2;
    }

/* Override Bootstrap doropdown-menu class */
.dropdown-menu {
    max-width: 200px;
}

.dropdown-menu .fas {
    width: 30px;
}


.footer {
    position: relative;
    margin-top: 4rem;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
}
